* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro", system-ui, -apple-system, sans-serif;
  max-width: 100vw;
  margin: auto;
}

.TextField:focused {
  border-bottom: none;
}
